.products-container {

  min-height: 70vh;
}
.products-category{
  min-width: 300px;
}
.products-container ul li a{
  height: 50px;
  background-color: #ccc;
  margin-bottom: 5px;
  line-height: 50px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
  display: block;
 border-radius: 10px;

}
.products-container ul li a.active{
  background-color: #09248d;
  color :white;
}



@media screen and (max-width:1200px) {
  .products-category{
  display: none;
  }
}
